<header class="flex justify-between items-center m-7 p-5">
  <h1 class="text-xl font-bold text-primary cursor-pointer md:text-2xl" routerLink="">meowTasks</h1>

  <nav>
    @if (!loading) {
      <ul class="flex gap-6 items-center">
        @if (!token) {
          <li class="nav-link"><a routerLink="register">Create a account</a></li>
          <li class="btn"><a routerLink="login">Sign in</a></li>
        }
        @else {
          <li (click)="onLogout()" class="nav-link"><a routerLink="login">logout</a></li>
        }
      </ul>
    }
    @else {
      <app-loading></app-loading>
    }
  </nav>
</header>