<header class="flex justify-between items-center m-7 p-5">
  <h1 class="text-xl font-bold text-primary cursor-pointer md:text-2xl" routerLink="">meowTasks</h1>

  <nav>
    @if (!loading) {
      <ul class="hidden md:flex md:gap-4">
        @for (item of itemsMenu; track $index) {
          @if (token) {
            @if (item.onlyLogged) {
              <li><a routerLink="{{item.routeLink}}" class="{{item.isButton ? 'btn' : 'nav-link'}}">{{item.name}}</a></li>
            }
          }
          @else {
            @if (!item.onlyLogged) {
              <li><a routerLink="{{item.routeLink}}" class="{{item.isButton ? 'btn' : 'nav-link'}}">{{item.name}}</a></li>
            }
          }
        }
      </ul>

      <app-drop-down-menu class="md:hidden" [itemsMenu]="itemsMenu" [token]="token"></app-drop-down-menu>
    }
    @else {
      <app-loading></app-loading>
    }
  </nav>
</header>