<main class="layout">
  <form action="" class="form flex flex-col gap-3" [formGroup]="form">
    <h2 class="subt">Ready to manage your tasks? Let's go</h2>

    <div class="flex flex-col gap-5">
      <label class="label text-secondary">
        Nickname
        <input class="input" type="text" placeholder="A cat lover" required formControlName="nickname">
      </label>
  
      <label class="label text-secondary">
        Password
        <input class="input" type="password" placeholder="********" required formControlName="password">
      </label>
  
      <label class="label text-secondary">
        Confirm password
        <input class="input" type="password" placeholder="********" required formControlName="passwordConfirmation">
      </label>
  
      <label class="label text-secondary">
        Password hint
        <input class="input" type="text" placeholder="agentcat.3" required formControlName="passwordHint">
      </label>

      <fieldset class="fieldset">
        <legend class="text-secondary">Select your color</legend>

        <div class="container-inputs">
          @for (color of colors; track $index) {
            @if ($index == checkedColor) {
              <!-- First color -->
              <input checked type="radio" name="color" class="input-radio" value="{{color.name}}" [style]="{backgroundColor: color.value}" formControlName="color">
            }
            @else {
              <input type="radio" name="color" class="input-radio" value="{{color.name}}" [style]="{backgroundColor: color.value}" formControlName="color">
            }
          }
        </div>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="label text-secondary">Select your avatar</legend>

        <div class="container-inputs">
          @for (avatar of avatars; track $index) {
            @if ($index == checkedAvatar) {
              <!-- First avatar -->
              <input checked type="radio" name="avatar" class="input-radio-image" value="{{avatar.name}}" [style]="{background: avatar.value}" formControlName="avatar">
            }
            @else {
              <input type="radio" name="avatar" class="input-radio-image" value="{{avatar.name}}" [style]="{background: avatar.value}" formControlName="avatar">
            }
          }
        </div>
      </fieldset>
    </div>

    <span class="text-primary font-semibold text-sm mt-3">Your tasks have never been so fun and catlike.</span>

    <button (click)="onRegister()" class="btn mt-2" [disabled]="!form.valid">Sign up</button>
  </form>
</main>