<main class="layout flex-col">
  <img class="h-44 md:h-64" src="https://pa1.aminoapps.com/6900/6fee52074a1d34383b28b220d1f2cc211c6a7f77r1-500-500_hq.gif">
  <h1 class="title">meowTasks</h1>
  <p class="para text-center">Task manager for cat lovers (❤️ ω ❤️)</p>

  @if (!loading) {
    <div class="flex gap-4 mt-5">
      @if (!token) {
        <button class="btn" routerLink="login">Login</button>
        <button class="btn" routerLink="register">Register</button>
      }
      @else {
        <button class="btn" routerLink="home">Home</button>
      }
    </div>
  }
  @else {
    <app-loading class="mt-5"></app-loading>
  }
</main>