@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(146, 139, 119);
  --color-secondary: rgb(146, 139, 119);
  --color-light: rgb(255, 250, 236);

  --color-background: rgb(255, 250, 236);

  --color-placeholder: rgb(218, 215, 208);

  --font-family: "Roboto Slab";
}

@font-face {
  font-family: "Roboto Slab";
  src: url("assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: var(--font-family);
}

body {
  background-color: var(--color-background);
}

.title {
  color: var(--color-primary);
  @apply text-5xl font-bold;
}

.subt {
  color: var(--color-primary);
  @apply text-2xl font-bold;
}

.para {
  color: var(--color-secondary);
  @apply text-base font-medium;
}

.label {
  @apply flex flex-col gap-1;
}

.fieldset {
  @apply flex flex-col;
}

.input {
  @apply border-2 border-primary p-4 rounded placeholder:text-placeholder;
}

.input-radio {
  @apply appearance-none h-12 w-12 transition checked:border-2 rounded-full border-primary;
}

.input-radio-image {
  @apply appearance-none h-16 w-16 transition checked:border-4 rounded-full border-primary;
}

.btn {
  background-color: var(--color-primary);
  @apply text-light py-4 px-8 rounded-full disabled:opacity-25;
}

.layout {
  @apply flex justify-center items-center mx-7 px-5 pb-16;
}

/* Alert Component */
.alert {
  @apply py-5 px-16 flex items-center gap-4 rounded border-4 fixed top-10 right-5;
}

.alert-success {
  @apply bg-green-200 border-green-300 text-green-700;
}

.alert-warning {
  @apply bg-yellow-200 border-yellow-300 text-yellow-700;
}

.alert-danger {
  @apply bg-red-200 border-red-300 text-red-700;
}

.icon-large {
  @apply text-5xl;
}
